/* Reset Layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
/* Common Style */
:root {
  --primary-color: #e95a08;
  --secondary-color: #6c757d;
}
header,
main {
  max-width: 80%;
  margin: 2rem auto;
  border: 1px solid red;
}
body {
  font-family: Noto Serif;
}
/* Navbar Section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo img {
  width: 80px;
}
.nav_menu ul {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
  border: 1px solid green;
}
.nav_menu ul li:nth-child(1),
.nav_menu ul li:nth-child(2),
.nav_menu ul li:nth-child(3) {
  display: none;
}
.nav_menu ul li:nth-child(2),
.nav_menu ul li:nth-child(3) {
  color: var(--secondary-color);
}

/* Banner Section */
.banner {
  display: flex;
  flex-direction: column-reverse;
}
.banner_text h1 {
  font-size: 2rem;
  text-transform: uppercase;
}
.banner_text h1 span {
  color: var(--primary-color);
}
.banner_text p {
  color: var(--secondary-color);
}

/* Responsive Layout */
/* Tab */
@media (min-width: 576px) {
  .nav_menu ul li:nth-child(1),
  .nav_menu ul li:nth-child(2),
  .nav_menu ul li:nth-child(3) {
    display: block;
  }
  .banner {
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  .banner > * {
    flex: 1;
  }
  .banner_text {
  
    border: 1px solid black;
  }
  .banner_text p {
    font-size: 1rem;
  }

  .banner_image img {
    .banner_image img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }
    border: 1px solid black;
  }
}

/* PC */
@media (min-width: 992px) {
  .banner {
    justify-content: space-between;
  }
  .banner_text h1 {
    font-size: 3rem;
    text-transform: uppercase;
  }
  .banner_text p {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
}
